* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(162, 196, 191);
  display: flex;
  position: relative;
}
.navbar > label, .navbar > input {
  display: none;
}
.navbar > ul {
  list-style: none;
  display: flex;
  justify-content: end;
}
.navbar > ul > li {
  position: relative;
}
.navbar > ul > li:hover ul {
  max-height: 300px;
  transition: 0.5s;
}
.navbar > ul > li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 20px;
}
.navbar > ul > li > ul {
  list-style: none;
  position: absolute;
  background-color: rgb(162, 196, 191);
  max-height: 0;
}

@media screen and (max-width: 550px) {
  .navbar > label {
    display: block;
    color: white;
    font-size: 30px;
    padding: 10px;
  }
  .navbar > input:checked + ul {
    max-height: 400px;
  }
  .navbar > ul {
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
  }
}
.cards {
  width: 90%;
  margin: 20px;
}
.cards .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.cards .card > img {
  width: 45%;
  height: 350px;
}
.cards .card .parrafoCard {
  padding: 20px;
  width: 45%;
  margin-top: 180px;
  text-align: center;
}
.cards .card .parrafoCard > h3 {
  font-family: sans-serif;
  font-size: 30px;
  color: rgb(48, 83, 72);
  box-shadow: 10px 10px 5px 0px rgb(170, 240, 192);
}

@media screen and (max-width: 800px) {
  .cards {
    width: 90%;
  }
  .cards .card {
    display: flex;
    flex-direction: column;
  }
  .cards .card > img {
    width: 90%;
    height: 250px;
  }
  .cards .card .parrafoCard {
    margin-top: 5px;
    width: 100%;
  }
}
.tarjetas .tarjeta {
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.tarjetas .tarjeta > img {
  width: 100%;
}
.tarjetas .tarjeta > h3 {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}
.tarjetas .tarjeta > button {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(57, 211, 159);
  border: 0;
  padding: 10px;
  color: rgb(48, 83, 72);
  font-size: 16px;
  justify-content: center;
}
.tarjetas .tarjeta > button:hover {
  background-color: rgb(29, 73, 73);
}


.filtros {
  list-style: none;
  display: flex;
  padding: 10px;
  gap: 20px;
  font-family: sans-serif;
  color: rgb(48, 83, 72);
}

.mainForm h3 {
  font-family: sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  color: rgb(48, 83, 72);
}
.mainForm .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(48, 83, 72);
}
.mainForm .formulario > h4 {
  font-size: 20px;
}
.mainForm .formulario > h4 > i {
  padding: 5px;
  font-size: 25px;
}
.mainForm .formulario > input {
  width: 600px;
  height: 40px;
}
.mainForm .formulario > textarea {
  width: 600px;
  height: 90px;
}
.mainForm .formulario > button {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(57, 211, 159);
  border: 0;
  padding: 10px;
  color: rgb(48, 83, 72);
  font-size: 16px;
  justify-content: center;
}
.mainForm .formulario > button:hover {
  background-color: rgb(29, 73, 73);
}

@media screen and (max-width: 630px) {
  .mainForm .formulario > input, .mainForm .formulario > textarea {
    width: 300px;
  }
}
.presentacion h4 {
  color: rgb(48, 83, 72);
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 30px;
}
.presentacion > p {
  font-family: sans-serif;
  color: rgb(48, 83, 72);
  font-size: 15px;
  line-height: 35px;
  padding: 30px;
}

.giftCard {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 20px;
  font-family: sans-serif;
  color: rgb(48, 83, 72);
  font-size: 20px;
  margin: 30px;
}

.destinatario {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  font-family: sans-serif;
  color: rgb(48, 83, 72);
  font-size: 15px;
  margin: 30px;
}
.destinatario > p {
  font-size: 20px;
  text-decoration: underline;
}
.destinatario > input {
  width: 80%;
  height: 30px;
}
.destinatario > textarea {
  width: 80%;
  height: 80px;
}

.pagos {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  font-family: sans-serif;
  color: rgb(48, 83, 72);
  font-size: 20px;
  margin: 30px;
}
.pagos > button {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(57, 211, 159);
  border: 0;
  padding: 10px;
  color: rgb(48, 83, 72);
  font-size: 16px;
  justify-content: center;
}
.pagos > button:hover {
  background-color: rgb(29, 73, 73);
}

footer .compania {
  margin-top: 80px;
  background-color: rgb(162, 196, 191);
  color: rgb(48, 83, 72);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
footer .compania .iconos > i {
  padding: 20px;
  font-size: 20px;
}
footer .infoAdicional .info {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  column-gap: 10px;
}

/*index*/
aside h3 {
  font-family: sans-serif;
  text-align: center;
  color: rgb(48, 83, 72);
  font-size: 25px;
  padding: 20px;
}