footer{
    .compania{
    margin-top: 80px;
    background-color: $background;
    color:$colorPrincipal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
        .iconos{
            > i{
                padding: 20px;
                font-size: 20px;
            }
        }
    }
    .infoAdicional{
        .info{
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            column-gap: 10px;
        }
    }

}




