.mainForm{
    h3{
        font-family: $font;
        font-size: 25px;
        display: flex;
        justify-content: center;
        color: $colorPrincipal;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 20px ;
        font-family: $font;
        font-size: 15px;
        color: $colorPrincipal;
        > h4{
            font-size: 20px;
            > i {
                padding: 5px;
                font-size: 25px;
            }
        }
        
        >input {
            width: 600px;
            height: 40px;
           
        }
        > textarea{
            width: 600px;
            height: 90px;
            
        }
    }
    
}

@media screen and (max-width: 630px) {
    .mainForm{
        .formulario{
            >input , > textarea {
                width: 300px;
            }
            @mixin button{
                width: 400px;
            }
        }

        
    }
    
}