.navbar{
    background-color:$background;
    display: flex;
    position: relative;
    >label , >input{
        display: none;
    }  
    > ul {
        list-style: none;
        display: flex;
        justify-content: end;
        > li {
            position: relative;
            &:hover ul{
                max-height: 300px;
                transition: 0.5s;
            }
            a {
                display: block;
                text-decoration: none;
                color: white;
                font-size: 20px;
                padding: 20px;
            }
            > ul {
                list-style: none;
                position: absolute;
                background-color: rgb(162, 196, 191);
                max-height: 0;
            }
        }
    }
}    

    
@media screen and (max-width: 550px){
    .navbar{
    > label{
        display: block;
        color: white;
        font-size: 30px;
        padding: 10px;
       }
       > input:checked + ul{
        max-height: 400px;
    }
    >ul{
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
        transition: 0.5s;
    }    
    }   
}