nav{
    background-color: aquamarine;
    height: 80px;
    >label, > input{
        display: none;
    }
    .navbar{
        display: flex; 
        justify-content: space-evenly;
        >a{
            display: block;
            text-align: center;
            padding: 25px 16px;
            text-decoration: none;
        }
    }
    @media screen and (max-width: 500px){
        nav > label{
            display: block;
            color: white;
            font-size: 30px;
            padding: 10px;
        }
        > input:checked + .navbar{
            max-height: 400px;
        }
        .navbar{
            background-color: aquamarine;
            flex-direction: column;
            max-height: 0px;
            overflow: hidden;
            transition: 0.5s;
        }    
    }
}