.pagos{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    font-family: $font;
    color: $colorPrincipal;
    font-size: 20px;
    margin: 30px;
   @include button {
        background-color: $background;
        color: white;

   }
}
